<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Data Science Tools and Ecosystem

#Introduction 
*In this notebook, Data Science Tools and Ecosystem are summarized.*

**Objectives:**

- List popular languages used in data science
- List tools used  in data science
- Know the different languages used in data science

# Data science languages
- python
- C
- C++
- Java
- R
- SQL
- Scala

# Libraries
Some of the commonly used libraries used by Data Scientists include:
1. first Panda
2. second numpy
3. third Scipy

# Data science tools
|Data science tool|
|-----------------|
|Data management|
|----------------|
|Data integration and transformation|
|-----------------------------------|
|Data visualization|
|------------------|
|Model building|
|--------------|
|Model deployment|
|-----------------|
|Model monitoring and assessment|

### Arythmetic expression examples
Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
11+5
12*6
30/10

3.0

### Arythmetic expression examples
Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
11+5

16

In [5]:
12*6

72

In [6]:
30/10

3.0

This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author
Ngah Yves